/TRIM1/RegistroPersona/build/
/TRIM1/RegistroPersona/dist/
/TRIM1/actividadSerializable/nbproject/private/
/TRIM1/actividadSerializable/build/
/TRIM1/RandomAccessFileActividadEspecial/nbproject/private/
/TRIM1/RandomAccessFileActividadEspecial/build/