@charset "UTF-8";

.foro{
 	min-width: 400px;
 	height: 600px;
 	overflow: scroll;
 	background-color: white;
 	padding: 10px;
	grid-row: 1/3;
}

p{
	text-align: justify;
	text-indent: 2rem;
}

.cabecera{
	text-align: center;
}

.principal{
	min-width: 500px;
	max-width: 1300px;
	margin: auto;
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 10px;
	background: #f0f0f0;
	padding: 10px;
}

.form{
	padding: 10px;
	grid-column: 2/3;
	background-color: white;
}

.conectados{
	padding: 20px;
	background: white;
    margin: 0;
    overflow: scroll;
}

.btn-primary {
	background-color: #d5dee6;
	text-decoration: none;
	border-radius: 10px;
    padding: 10px; 
    margin: 5px;
    color: black;
}
.btn-primary:hover {
    background-color: #5fbade;
}

#nombre{
	width: 160px;
}

#mensaje{
	width: 250px;
	overflow: scroll;
}
                     
.nombreUsuario{
    color: blue;
}
