<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://Java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<listener>
		<listener-class>es.iespuertodelacruz.cc.webappinstituto.listeners.ServletLifecycle</listener-class>
	</listener>
    <servlet>
    	<display-name>Alumnos</display-name>
    	<servlet-name>Alumnos</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.alumnos.ServletAlumnos</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Asignaturas</display-name>
    	<servlet-name>Asignaturas</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.asignaturas.ServletAsignaturas</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Matriculas</display-name>
    	<servlet-name>Matriculas</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.matriculas.ServletMatriculas</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Login</display-name>
    	<servlet-name>Login</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.Login</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AgregarAlumno</display-name>
    	<servlet-name>AgregarAlumno</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.alumnos.AgregarAlumno</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Registrar</display-name>
    	<servlet-name>Registrar</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.Registrar</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Alumnos</servlet-name>
    	<url-pattern>/Alumnos</url-pattern>
		<url-pattern>/alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Asignaturas</servlet-name>
    	<url-pattern>/Asignaturas</url-pattern>
		<url-pattern>/asignaturas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Matriculas</servlet-name>
    	<url-pattern>/Matriculas</url-pattern>
		<url-pattern>/matriculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Login</servlet-name>
    	<url-pattern>/Login</url-pattern>
    	<url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AgregarAlumno</servlet-name>
    	<url-pattern>/AgregarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AgregarAlumno</servlet-name>
    	<url-pattern>/agregaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Registrar</servlet-name>
    	<url-pattern>/Registrar</url-pattern>
		<url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
