<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://Java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<listener>
		<listener-class>es.iespuertodelacruz.cc.webappinstituto.listeners.ServletLifecycle</listener-class>
	</listener>
    <servlet>
    	<display-name>Alumnos</display-name>
    	<servlet-name>Alumnos</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.alumnos.ServletAlumnos</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Asignaturas</display-name>
    	<servlet-name>Asignaturas</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.asignaturas.ServletAsignaturas</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Matriculas</display-name>
    	<servlet-name>Matriculas</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.matriculas.ServletMatriculas</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Login</display-name>
    	<servlet-name>Login</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.Login</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AgregarAlumno</display-name>
    	<servlet-name>AgregarAlumno</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.alumnos.AgregarAlumno</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Registrar</display-name>
    	<servlet-name>Registrar</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>BorrarAlumno</display-name>
    	<servlet-name>BorrarAlumno</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.alumnos.BorrarAlumno</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>EditarAlumno</display-name>
    	<servlet-name>EditarAlumno</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.alumnos.EditarAlumno</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Inicio</display-name>
    	<servlet-name>Inicio</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.Inicio</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Logout</display-name>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>MostrarAlumno</display-name>
    	<servlet-name>MostrarAlumno</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.alumnos.MostrarAlumno</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AgregarAsignatura</display-name>
    	<servlet-name>AgregarAsignatura</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.asignaturas.AgregarAsignatura</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>BorrarAsignatura</display-name>
    	<servlet-name>BorrarAsignatura</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.asignaturas.BorrarAsignatura</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>EditarAsignatura</display-name>
    	<servlet-name>EditarAsignatura</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.asignaturas.EditarAsignatura</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>MostrarAsignatura</display-name>
    	<servlet-name>MostrarAsignatura</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.asignaturas.MostrarAsignatura</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AgregarMatricula</display-name>
    	<servlet-name>AgregarMatricula</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.matriculas.AgregarMatricula</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>BorrarMatricula</display-name>
    	<servlet-name>BorrarMatricula</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.matriculas.BorrarMatricula</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>MostrarMatricula</display-name>
    	<servlet-name>MostrarMatricula</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.matriculas.MostrarMatricula</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>EditarMatricula</display-name>
    	<servlet-name>EditarMatricula</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.matriculas.EditarMatricula</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AccountServlet</display-name>
    	<servlet-name>AccountServlet</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.account.AccountServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CambiarDatos</display-name>
    	<servlet-name>CambiarDatos</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.account.CambiarDatos</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ActivationServlet</display-name>
    	<servlet-name>ActivationServlet</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.account.ActivationServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DeleteAccount</display-name>
    	<servlet-name>DeleteAccount</servlet-name>
    	<servlet-class>es.iespuertodelacruz.cc.webappinstituto.servlets.account.DeleteAccount</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Alumnos</servlet-name>
    	<url-pattern>/Alumnos</url-pattern>
		<url-pattern>/alumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Asignaturas</servlet-name>
    	<url-pattern>/Asignaturas</url-pattern>
		<url-pattern>/asignaturas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Matriculas</servlet-name>
    	<url-pattern>/Matriculas</url-pattern>
		<url-pattern>/matriculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Login</servlet-name>
    	<url-pattern>/Login</url-pattern>
    	<url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AgregarAlumno</servlet-name>
    	<url-pattern>/AgregarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AgregarAlumno</servlet-name>
    	<url-pattern>/agregaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Registrar</servlet-name>
    	<url-pattern>/Registrar</url-pattern>
		<url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BorrarAlumno</servlet-name>
    	<url-pattern>/BorrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BorrarAlumno</servlet-name>
    	<url-pattern>/borraralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditarAlumno</servlet-name>
    	<url-pattern>/EditarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditarAlumno</servlet-name>
    	<url-pattern>/editaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Inicio</servlet-name>
    	<url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Inicio</servlet-name>
    	<url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/Logout</url-pattern>
    	<url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MostrarAlumno</servlet-name>
    	<url-pattern>/MostrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MostrarAlumno</servlet-name>
    	<url-pattern>/mostraralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AgregarAsignatura</servlet-name>
    	<url-pattern>/AgregarAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AgregarAsignatura</servlet-name>
    	<url-pattern>/agregarasignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BorrarAsignatura</servlet-name>
    	<url-pattern>/BorrarAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BorrarAsignatura</servlet-name>
    	<url-pattern>/borrarasignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditarAsignatura</servlet-name>
    	<url-pattern>/EditarAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditarAsignatura</servlet-name>
    	<url-pattern>/editarasignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MostrarAsignatura</servlet-name>
    	<url-pattern>/MostrarAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MostrarAsignatura</servlet-name>
    	<url-pattern>/mostrarasignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AgregarMatricula</servlet-name>
    	<url-pattern>/AgregarMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AgregarMatricula</servlet-name>
    	<url-pattern>/agregarmatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BorrarMatricula</servlet-name>
    	<url-pattern>/BorrarMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>BorrarMatricula</servlet-name>
    	<url-pattern>/borrarmatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MostrarMatricula</servlet-name>
    	<url-pattern>/MostrarMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MostrarMatricula</servlet-name>
    	<url-pattern>/mostrarmatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditarMatricula</servlet-name>
    	<url-pattern>/EditarMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EditarMatricula</servlet-name>
    	<url-pattern>/editarmatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AccountServlet</servlet-name>
    	<url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AccountServlet</servlet-name>
    	<url-pattern>/myaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CambiarDatos</servlet-name>
    	<url-pattern>/CambiarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CambiarDatos</servlet-name>
    	<url-pattern>/cambiardatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ActivationServlet</servlet-name>
    	<url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeleteAccount</servlet-name>
    	<url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DeleteAccount</servlet-name>
    	<url-pattern>/deleteaccount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>inicio</welcome-file>
        </welcome-file-list>
    </web-app>
